<%= image_tag("Logo.png") %>

<p>Welcome to Match finder. We help you find a local bar to watch your favorite sports.</p>

<p>Which team are you looking to watch today?</p>

<%= form_tag(matches_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search matches" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
<%= link_to 'All Matches', matches_path %>

<br><br>
<%= link_to 'All Bars', bars_path %>
