<p id="notice"><%= notice %></p>

<article id="main">
  <header>
    <h2><%= @bar.bar_name %></h2>
  <header>
  <section class="wrapper style5">
    <div class="inner">
      <section>

        <h3>Bar Info</h3>
        <p>
          <strong>Address:</strong>
          <%= @bar.bar_address %>
        </p>

        <p>
          Visit the bar's <%= link_to 'website', @bar.website %>
        </p>

        <br>
        <p>
          <h3>Matches the bar is showing this week:</h3>
          <ul>
            <% @bar.matches.each do |match| %>
              <li id="main-cal"><%= match.home_team %> vs. <%=match.away_team %></li>
            <% end %>
          </ul>
        </p>
      </section>
    </div>
  </section>
</article>
