<p id="notice"><%= notice %></p>

<p>
  <strong>Bar name:</strong>
  <%= @bar.bar_name %>
</p>

<p>
  <strong>Bar address:</strong>
  <%= @bar.bar_address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @bar.website %>
</p>

<p>
  <strong>Matches the bar is showing:</strong>
  <ul>
    <% @bar.matches.each do |match| %>
      <li><%= match.home_team %> vs. <%=match.away_team %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'All Bars', bars_path %>
