<section id="banner">
  <div class="inner">
    <h2>MatchFinder</h2>
    <p>We help you find<br /> a local bar to watch<br /> your favorite sports.</p>
  </div>
  <a href="#one" class="more scrolly">Learn more</a>
  <br><br><br>
  <p>Looking for something specific?</p>
  <div id="search_bar" class="search">
      <%= form_tag(matches_path, :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search matches" %>
      <br>
      <%= submit_tag "Search", :name => nil, :class => 'button special' %>
    <% end %>
  </div>
</header>
</section>

<article id="main">
<section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>This Week's Matches</h2>
        <div>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <section class="wrapper style5">
            <div class="inner">
            <table width="100%" id="home-cal">
              <thead>
              <tr width="(100/7)%">
                <% @days_of_week.each do |day| %>
                  <th>
                    <%= day %>
                  </th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <tr>
                <% @matches_by_day.each do |matches| %>
                  <td width="(100/7)%">
                    <% matches.each do |match| %>
                      <ul id="main-cal">
                        <li class="home-cal">
                          <%= link_to match.home_team + " vs. " + match.away_team, match %>
                        </li>
                      </ul>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>
          </section>
        </div>
  </div>
</section>
</article>
