<!DOCTYPE html>
<html>
<head>
  <% stylesheet_link_tag 'home' %>
</head>

<body>
  <div id="header">
    <%= image_tag("Logo.png", :id => "logo") %>
  </div>

  <div>
    <div id="search_bar" class="search">
      <%= form_tag(matches_path, :method => "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search matches" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
    <div class="search">
      <%= image_tag("football_image.jpg", :class => "img-circle") %>
      <%= image_tag("basketball_image.jpg", :class => "img-circle") %>
      <%= image_tag("amfootball_image.jpg", :class => "img-circle") %>
      <%= image_tag("baseball_image.png", :class => "img-circle") %>
    </div>
  </div>

  <div id="calendar">
    <p>Sports This Week | Change Location</p>

    <table id="calendar">
      <tr>
        <th>Today</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <td>
          <% @todays_matches.each do |match| %>
            <ul>
              <li><%= match.home_team %> vs. <%= match.away_team %></li>
            </ul>
          <% end %>
        </td>
        <td>Matches list here</td>
        <td>Matches list here</td>
        <td>Matches list here</td>
        <td>Matches list here</td>
        <td>Matches list here</td>
        <td>Matches list here</td>
      </tr>
    </table>
  </div>

  <div id="footer">
    <p>FOOTER</p>
  </div>
</body>

</html>
