<p id="notice"><%= notice %></p>

<h1>Match Detail</h1>

<p>
  <strong>Home team:</strong>
  <%= @match.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @match.away_team %>
</p>

<p>
  <strong>League:</strong>
  <%= @match.league %>
</p>

<p>
  <strong>Match Date:</strong>
  <%= @match.match_time %>
</p>

<p>
  <strong>Bars showing this match:</strong>
  <% if @match.bars.blank? %>
    <p>There are no bars currently scheduled to show this match.</p>
    <p>Let's connect some!</p>
  <% end %>

  <% @match.bars.each do |bar| %>
    <ul>
      <li><%= bar.bar_name %></li>
    </ul>
  <% end %>
</p>

<br><br>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
