<!-- Figure out where to put this JS -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<p id="notice"><%= notice %></p>

<h1>Match Detail</h1>

<p>
  <strong>Home team:</strong>
  <%= @match.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @match.away_team %>
</p>

<p>
  <strong>League:</strong>
  <%= @match.league %>
</p>

<p>
  <strong>Match Date:</strong>
  <%= @match.match_time %>
</p>

<br>

<p>Want to invite some friends to watch the match?</p>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=<%= u "Watching #{@match.home_team} vs. #{@match.away_team} later today. Anyone else up for it? \#MatchFinder " %>" data-size="large">
Tweet</a>

<br><br>

<h2>Find a Bar to watch it</h2>

<div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
        });
      // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
          }, function() {
            handleLocationError(true, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          var barcelona = {lat: 41.387148, lng: 2.170122};
            map.setCenter(barcelona);
          var marker = new google.maps.Marker({
            position: barcelona,
            map: map
          });
        }
      }

      function handleLocationError(browserHasGeolocation, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api_key %>&callback=initMap">
    </script>

<br><br>

<p>
  <strong>Bars showing this match:</strong>
  <% if @match.bars.blank? %>
    <p>There are no bars currently scheduled to show this match.</p>
  <% end %>

  <% @match.bars.each do |bar| %>
    <ul>
      <li><%= link_to bar.bar_name, bar %></li>
    </ul>
  <% end %>
</p>

<br><br><br>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'All Matches', matches_path %>
