<article id="main">
  <header>
    <h2>Contact request</h2>
  <header>
  <section class="wrapper style5">
    <div class="inner">
      <section>
        <p>Bar:<%= @contact.bar %></p>
        <p>Contact Person:<%= @contact.name %></p>
        <p>Email:<%= @contact.email %></p>
        <p>Phone number:<%= @contact.phone %></p>
        <p>Message:<%= @contact.message %></p>
        <p>Competitions:<%= @contact.competition %></p>

      </section>
    </div>
  </section>
</article>
