<p id="notice"><%= notice %></p>

<article id="main">
  <header>
    <h2>ADMIN CONTACT REQUESTS</h2>
  </header>
  <section class="wrapper style5">
    <div class="inner">
    <section>
      <table>
        <thead>
          <tr>
            <th>Bar Name</th>
            <th>Contact Person</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.bar %></td>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
</article>
